node_modules/
dist/
.#*
.DS_Store
*error.log
*debug.log
**/*.vue.js
packages/vue/vue-convolver-player/src/**/*.js

# Yarn
.pnp.*
.yarn/build-state.yml
.yarn/install-state.gz
.yarn/cache
.yarn/unplugged
