:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  accent-color: rgb(139, 82, 199);
}

body {
  font-size: 16px;
}
pre {
  box-shadow: 0 0 0.95px ButtonBorder;
}
.container {
  width: 800px;
  margin: 0 auto;
}

/* Existing convolver-player styles */
.convolver-player {
  display: grid;
  grid-template-columns: 2fr 5fr;
  column-gap: 1em;
  padding: 2em;
  margin: 1em 0;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0.95px ButtonBorder;
}
.convolver-player .convolver-examples {
  display: grid;
  gap: 0.35em;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.convolver-player .convolver-examples button {
  height: 100%;
}
.convolver-player .convolver-ir {
  display: grid;
  align-items: center;
  gap: 0.5em;
}
.convolver-player .convolver-ir .convolver-ir-info {
  align-content: center;
}
.convolver-player .convolver-ir .convolver-waveform-canvas {
  width: 100%;
  height: 100px;
  background-color: Canvas;
  box-shadow: 0 0 0.95px ButtonBorder;
}
.convolver-player .convolver-ir .convolver-controls {
  display: grid;
  grid-template-columns: auto 1fr auto;
}
