name: Coverage Report and README Update

on:
  push:
    branches:
      - main

jobs:
  generate-and-update-coverage:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          # We need to fetch all history for the commit to be able to push back
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: yarn install

      - name: Build core package (required for coverage)
        run: yarn workspace @convolver-player/core build

      - name: Run coverage for all packages
        run: yarn workspaces run test:run:coverage

      - name: Install monorepo-coverage-badges
        run: yarn add monorepo-coverage-badges --dev -W

      - name: Generate and Update Coverage Badges
        run: yarn monorepo-coverage-badges

      - name: Commit and Push changes
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add README.md packages/core/convolver-player-core/coverage/badge.svg packages/vue/vue-convolver-player/coverage/badge.svg packages/react/react-convolver-player/coverage/badge.svg
          git commit -m "docs: Update coverage badges [skip ci]" || echo "No changes to commit"
          git push
